<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="NetOffice Feed" value="https://www.myget.org/F/netoffice/api/v3/index.json" protocolVersion="3" />
    <!-- <add key="NetOfficeFw Dev Feed" value="https://www.myget.org/F/netofficefw-dev/api/v3/index.json" protocolVersion="3" /> -->
  </packageSources>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
</configuration>
