<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NetOffice.Access" version="1.7.3.0" targetFramework="net40" />
  <package id="NetOffice.Core" version="1.7.3.0" targetFramework="net40" />
  <package id="NetOffice.Excel" version="1.7.3.0" targetFramework="net40" />
  <package id="NetOffice.MSProject" version="1.7.3.0" targetFramework="net40" />
  <package id="NetOffice.Outlook" version="1.7.3.0" targetFramework="net40" />
  <package id="NetOffice.PowerPoint" version="1.7.3.0" targetFramework="net40" />
  <package id="NetOffice.Word" version="1.7.3.0" targetFramework="net40" />
</packages>