<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NetOffice" publicKeyToken="297f57b43ae7c1de" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.4.3" newVersion="1.7.4.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OfficeApi" publicKeyToken="a39beb0835c43c8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.4.3" newVersion="1.7.4.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>